.logo{
    
    display: block;
    margin: 20px auto;
    margin-bottom: 20px;

}

.text{
    
    color: red;
    margin-bottom: 25px;
}
.login
{
    display: flexbox;
    height: 260px;
    margin-top: 500px auto;
    margin-left: 500px auto;
    margin-right: 500px auto;
    margin-bottom: 300px auto;
    padding-bottom: 5px ;
    background-color: cyan;
    padding-left: 100px;
}